@model AjoutEditLivreVM

@{
    var photoSrc = !string.IsNullOrEmpty(Model.Photo) ? Model.Photo : string.Empty;
}

<form method="post" class="text-center" asp-action="modifier" asp-controller="Inventaire" enctype="multipart/form-data">

    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
    <input asp-for="Id" class="form-control" value="@Model.Id" type="hidden" />
    <div class="row text-start">
        
        <div class="col-7">
            <fieldset class="rounded shadow p-3 m-2 mb-4">
                <div class="form-group">
                    <label asp-for="Titre" class="form-label"></label>
                    <input asp-for="Titre" class="form-control" aria-required="true" />
                    <span asp-validation-for="Titre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ISBN" class="form-label"></label>
                    <input asp-for="ISBN" class="form-control" aria-required="true" />
                    <span asp-validation-for="ISBN" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Resume" class="form-label"></label>
                    <input asp-for="Resume" class="form-control" aria-required="true" />
                    <span asp-validation-for="Resume" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Photo" class="form-label"></label>
                    <input type="file" accept=".png,.jpg,.jpeg" class="form-control" aria-required="true" onchange="getAndShowBase64(this.files[0], 'sendImg', 'viewImg')" />
                    <input asp-for="Photo" class="form-control" aria-required="true" hidden id="sendImg" />

                    <img id="viewImg" src="@photoSrc" class="col-md-6 m-1" />

                    <span asp-validation-for="Photo" class="row text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DatePublication" class="form-label"></label>
                    <input asp-for="DatePublication" class="form-control" aria-required="true" />
                    <span asp-validation-for="DatePublication" class="text-danger"></span>
                </div>
            </fieldset>
            <fieldset class="rounded shadow p-3 m-2 mb-4">
                <div>
                    <label>Prix du livre par état</label>
                    <label>Disponible</label>
                </div>
                <div class="form-group">
                    <div class="col-auto">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Numérique</div>
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">$</div>
                            </div>

                            <input asp-for="Prix.PrixNumerique" class="form-control" aria-required="true" type="text" placeholder="prix" id="inputPrixNumerique-@Model.Id" />

                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Neuf</div>
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">$</div>
                            </div>
                            <input asp-for="Prix.PrixNeuf" class="form-control" aria-required="true" type="text" placeholder="prix" id="inputPrixNeuf-@Model.Id" />
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Usagé</div>
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">$</div>
                            </div>

                            <input asp-for="Prix.PrixUsager" class="form-control" aria-required="true" type="text" placeholder="prix" id="inputPrixUsage-@Model.Id" />
                            <input asp-for="Prix.QuantiteUsage" class="form-control" type="text" placeholder="Quantité" id="quantitePrixUsager-@Model.Id" />

                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="col-5">
            <fieldset class="rounded shadow p-3 mb-4">
                <div class="form-group" id="listDeCours">

                    <label asp-for="CheckBoxCours" class="form-label"></label>

                    <div class="cours">
                        @foreach (var Cours in Model.CheckBoxCours)
                        {
                            <div class="row ms-2 mt-2">
                                <input class="col-2 mt-1 checkBoxCours" id="@Cours.Cours.CoursId" type="checkbox" name="Cours" value="@Cours.Cours.CoursId" checked="@Cours.Cocher" />
                                <span class="col-8 text-break" for="@Cours.Cours.Nom">@Cours.Cours.Nom</span>
                            </div>
                        }
                    </div>
                    <div class="row d-flex justify-content-end">
                        <input class="mt-2 btn btn-primary w-50" type="button" onclick="modifierCoursLivre(@Model.Id)" value="confirmer choix" />
                    </div>

                </div>
            </fieldset>
            <fieldset class="rounded shadow p-3 mb-4">
                <div class="form-group" id="listAuteurs">

                    <label asp-for="CheckBoxAuteurs" class="form-label"></label>
                    <div class="cours">
                        @foreach (var auteurs in Model.CheckBoxAuteurs)
                        {
                            <div class="row ms-2 mt-2">
                                <input class="col-2 mt-1 checkBoxCours" id="@auteurs.Auteur.Id" type="checkbox" name="Auteurs" value="@auteurs.Auteur.Id" checked="@auteurs.Cocher" />
                                <span class="col-8 text-break" for="@auteurs.Auteur.Nom">@auteurs.Auteur.Nom</span>
                            </div>
                        }
                    </div>

                </div>
                <div class="row d-flex justify-content-end">
                    <input class="mt-2 btn btn-primary w-50" type="button" onclick="modifierAuteursLivre(@Model.Id)" value="confirmer choix" />
                </div>
            </fieldset>
            <fieldset class="rounded shadow p-3 m-2 mb-4">
                <div class="form-group">
                    <label asp-for="MaisonEditionId" class="form-label"></label>
                    <select asp-for="MaisonEditionId" asp-items="Model.MaisonsDeditions" class="form-control" aria-required="true"></select>
                    <span asp-validation-for="MaisonEditionId" class="text-danger"></span>
                </div>
            </fieldset>
        </div>
        
        @Html.AntiForgeryToken()
    </div>
</form>

<link rel="stylesheet" href="~/css/FormulaireAjoutModifier.css" asp-append-version="true" />