@model FactureCommandeVM


@if(Model.CommandesEtudiant.Count() > 0 || Model.CommandesEtudiant != null){
<table class="table table-light">
 <thead>
            <tr>
                <th>@Html.DisplayNameFor(livre => livre.CommandesEtudiant.First().Titre)</th>
                <th>@Html.DisplayNameFor(livre => livre.CommandesEtudiant.First().Isbn)</th>
                <th>@Html.DisplayNameFor(livre => livre.CommandesEtudiant.First().EtatLivre)</th>
                <th>@Html.DisplayNameFor(livre => livre.CommandesEtudiant.First().PrixEtatLivre.Prix)</th>
             
            </tr>
        </thead>

<tbody>
    @foreach (CommandeEtudiant commande in Model.CommandesEtudiant)
    {
        <tr>
            <td>@commande.PrixEtatLivre.LivreBibliotheque.Titre</td>
            <td>@commande.Isbn</td>
            <td>@commande.EtatLivre</td>
            <td>@commande.PrixEtatLivre.Prix</td>
        </tr>
    }
</tbody>
</table>
}else{
    <div>
        Aucune commade est associée à cette facture.
    </div>
}