@model FactureLivreVM
<table class="table table-light">
 <thead>
            <tr>
                <th>@Html.DisplayNameFor(livre => livre.Livres.First().PhotoCouverture)</th>
                <th>@Html.DisplayNameFor(livre => livre.Livres.First().Isbn)</th>
                <th>@Html.DisplayNameFor(livre => livre.Livres.First().Titre)</th>
                <th>@Html.DisplayNameFor(livre => livre.Livres.First().MaisonEdition)</th>
            </tr>
        </thead>

<tbody>
    @foreach (LivreBibliotheque livre in Model.Livres)
    {
        <tr id="tr-@livre.LivreId">
            <td class="text-center">
                <img class="me-5 tableauDeBord-image" id="PhotoLivre-@livre.LivreId" src="@livre.PhotoCouverture">
            </td>
            <td>@livre.Isbn</td>
            <td>@livre.Titre</td>
            <td>@livre.MaisonEdition.Nom</td>
        </tr>
    }
</tbody>
</table>

<div id="afficherListLivres" hidden>
    <div class="col-md-6">
        <fieldset class="rounded shadow p-3 m-2 mb-4">
            <div class="form-group" id="listDeLivres">
                <label asp-for="checkBoxLivres" class="form-label"></label>
                <div class="cours">
                    @foreach (var livre in Model.checkBoxLivres)
                    {
                        <div class="row ms-2 mt-2">
                            <input class="col-2 mt-1 checkBoxCours" id="@livre.livre.LivreId" type="checkbox" name="Cours" value="@livre.livre.LivreId" checked="@livre.Cocher" />
                            <label class="col-8 text-break" for="@livre.livre.Titre">@livre.livre.Titre</label>
                        </div>
                    }
                </div>
            </div>
            <div class="row">
                <input class="mt-2 btn btn-primary w-100" type="button" onclick="ajouterLivreFacture()" value="Ajouter" />
            </div>
        </fieldset>
    </div>
</div>