@model Evenement

@{

}

 
<div class="card" style="width: 18rem;">
    <img src="TODO:Une-photo-devrais-être-ici" class="card-img-top" alt=" PhotoEvenement">
  <div class="card-body">
    <h5 class="card-title">@Model.Nom</h5>
    <p class="card-text">@Model.Description</p>
  
  </div>
    <footer>
        <p>@Model.Debut.Day @Model.Debut.ToString("MMMM") @Model.Debut.Year</p>
    </footer>
</div>