@model TuileLivreBibliotequeVM

@{
    int livreIdCourant = @Model.livreBibliotheque.LivreId;
}


<div class="card border-2 tuile-livre mt-3 p-2">

    
    <div>
            <a>
                <img class="tableau" onclick="supresionRapide(@livreIdCourant)" src="~/img/delete-rouge.svg">
            </a>
    </div>
    
    <div>
        <a class="text-black text-decoration-none" asp-area="" asp-controller="inventaire" asp-action="detail" asp-route-id="@Model.livreBibliotheque.LivreId">

            <div class="position-relative text-center">
                @if (Model.livreBibliotheque.PhotoCouverture == "") {
                    <img class="mx-auto image-livre" src="~/img/photo-livre.jpg" alt="PhotoLivre">
                } else {
                    <img class="mx-auto image-livre" src="@Model.livreBibliotheque.PhotoCouverture" alt="PhotoLivre">
                }
                <div class="prix rounded-circle" id="cercleJauneN-@livreIdCourant">
                    @if (Model.prixEtatLivre[0] != null && Model.prixEtatLivre.Count() > 0)
                    {
                        <p id="PrixLivreId-@livreIdCourant" class="pt-3">@AffichagePrix.GetPremierPrix(Model).Prix.ToString("N2").Replace(",",".")$</p>
                    }
                    @if (Model.prixEtatLivre[1] != null && Model.prixEtatLivre.Count() > 0)
                    {
                        <p id="PrixLivreId-@livreIdCourant" class="pt-3">@AffichagePrix.GetPremierPrix(Model).Prix.ToString("N2").Replace(",",".")$</p>
                    }
                    @if (Model.prixEtatLivre[2] != null && Model.prixEtatLivre.Count() > 0)
                    {
                        <p id="PrixLivreId-@livreIdCourant" class="pt-3">@AffichagePrix.GetPremierPrix(Model).Prix.ToString("N2").Replace(",",".")$</p>
                    }
                </div>
            </div>
        </a>
    </div>
    <div class="o-switch btn-group w-100 px-3" data-toggle="buttons" role="group">
        
        @if (Model.prixEtatLivre[0] != null)
            {
                <label class="btn btn-rounded bg-top text-white" id="Neuf-@livreIdCourant" onclick="checkTheBox(@livreIdCourant,'Neuf')">
                    <input hidden type="radio" name="options+@livreIdCourant" value="@NomEtatLivre.NEUF" onclick="ChangerPrix(this.value, @livreIdCourant);" checked> Neuf
                </label>
            }
        @if (Model.prixEtatLivre[2] != null)
            {
            <label class="btn btn-rounded bg-top text-white" id="Numerique-@livreIdCourant" onclick="checkTheBox(@livreIdCourant,'Numerique')">
                    <input hidden type="radio" name="options+@livreIdCourant" value="@NomEtatLivre.DIGITAL" onclick="ChangerPrix(this.value, @livreIdCourant)"> Numérique
                </label>
            }
        @if (Model.prixEtatLivre[1] != null)
            {
            <label class="btn btn-rounded bg-top text-white" id="Usager-@livreIdCourant" onclick="checkTheBox(@livreIdCourant,'Usager')">
                    <input hidden type="radio" name="options+@livreIdCourant" value="@NomEtatLivre.USAGE" onclick="ChangerPrix(this.value, @livreIdCourant)"> Usagé
                </label>
            }
    </div>


    <div class="card border-0 livre-info">
        <h5 class="card-title "><stong>@Model.livreBibliotheque.Titre</stong></h5>
        <p class="card-text">
            <span>De </span>
            @if (Model.auteurs != null)
                @for (int i = 0; i < Model.auteurs.Count; i++)
                {
                    if (i == Model.auteurs.Count - 1)
                    {
                        if (i == 0)
                        {
                            <span>@Model.auteurs[i].GetNomComplet()</span>
                        }
                        else
                        {
                            <span>et @Model.auteurs[i].GetNomComplet()</span>
                        }
                    }
                    else if (i == Model.auteurs.Count - 2)
                    {
                        <span>@Model.auteurs[i].GetNomComplet()</span>
                    }
                    else
                    {
                        <span>@Model.auteurs[i].GetNomComplet(),</span>
                    }

                }
        
        </p>
        <p class="card-text">Maison @Model.livreBibliotheque.MaisonEdition.Nom</p>
        <p class="card-text">@Model.livreBibliotheque.DatePublication.Year</p>
        @if (Model.coursLivre != null)
        {
            <p class="card-text">@Model.coursLivre.Cours.ProgrammeEtude.Nom</p>
        }
    </div>
    <div>
        <input type="number" id="Quantite-@livreIdCourant" min="1" max="999999" value="1" onchange="quantiteChange(@livreIdCourant)" />
    </div>
</div>

<link rel="stylesheet" href="~/css/carte-livre-Partiel.css" asp-append-version="true" />
<script src="~/js/PrixAjax.js"></script>
<script src="~/js/LivreDetail.js"></script>