@model EvenementVM

@{

}


<div class="card tuile-evenement">
        
    <div class="position-relative text-center">
        <img class="mx-auto image-evenement" src=@Model.Image alt="PhotoLivre">
    </div>

    <div class="card-body">
        <h5 class="card-title">@Model.Nom</h5>
        <p class="card-text">@Model.Description</p>

    </div>
    <footer>

        <p class="d-inline-block">
            <img class="evenement-horloge-debut" src="~/img/horloge.svg">
            Début le: @Model.Debut.Day @Model.Debut.ToString("MMMM") @Model.Debut.Year
        </p>

        <p class="">
            <img class="evenement-horloge-fin" src="~/img/horloge.svg">
            Termine le: @Model.Fin.Day @Model.Debut.ToString("MMMM") @Model.Fin.Year
        </p>
    </footer>
</div>

<link rel="stylesheet" href="~/css/carte-evenement-Partial.css" asp-append-version="true" />