@model LivreEtudiant

@{
    var UserClaims = User.Claims.ToList();
    var UserEmail = UserClaims[2].Value.ToString();
    var EmailEnLiensAuLivre  = Model.Etudiant.Email;
}


<div class="card border-2" style="width:auto">

    @if (User.IsInRole(RolesName.Admin) || UserEmail == EmailEnLiensAuLivre)
    {
        <div>
            <a class="float-start" asp-area="" asp-controller="usage" asp-action="modifier" asp-route-id="@Model.LivreId">
                <input class="btn btn-primary shadow" type="button" value="Modifier" />
            </a>

            <form method="post" class="float-end" asp-controller="usage" asp-action="effacer" asp-route-id="@Model.LivreId">
                <a>
                    <input class="btn btn-danger shadow" onclick="return confirm('Êtes-vous sûr de vouloir supprimer @Model.Titre')" type="submit" value="Supprimer" />
                </a>
            </form>
        </div>
    }
    <div class="position-relative text-center">
        <img class="mx-auto image-livre" src=@Model.PhotoCouverture alt="PhotoLivre">
        <div class="prix rounded-circle shadow">
            <p class="pt-3">@Model.Prix$</p>
        </div>
    </div>

    <div class="card border-0" style="width:auto">
        <h5 class="card-title ">Titre: @Model.Titre</h5>
        <p class="card-text"><strong>ISBN:</strong> @Model.Isbn</p>
        <p class="card-text"><strong>Auteur:</strong> @Model.Auteur</p>
        <p class="card-text"><strong>Vendeur:</strong> @Model.Etudiant.Prenom @Model.Etudiant.Nom</p>
        <p class="card-text"><strong>MaisonEdition:</strong> @Model.MaisonEdition</p>
        <p class="card-text"><strong>Année de publication:</strong> @Model.DatePublication.Year</p>

    </div>


</div>

<link rel="stylesheet" href="~/css/carte-livre-Partiel.css" asp-append-version="true" />