@model EvenementVM

@{

}

<div class="col-auto col-md-3 col-sm-3 mt-3 mb-3">
    <div class="card shadow border-0 h-100 tuile-evenement p-2">
    @if (User.IsInRole(RolesName.Admin))
    {
        <div>
            <a class="float-start" asp-area="" asp-controller="Evenement" asp-action="modifier" asp-route-id="@Model.EvenementId">
                <img class="mx-auto tableau" src="~/img/pencil.svg" alt="Modifier" value="Modifier">
            </a>

            <form method="post" class="float-end" asp-controller="Evenement" asp-action="effacer" asp-route-id="@Model.EvenementId">
                <a>
                    <input class="tableau" onclick="return confirm('Êtes-vous sûr de vouloir supprimer @Model.Nom')" type="image" src="~/img/delete-rouge.svg" />
                </a>
            </form>
        </div>
    }
    <div>
        <a class="text-black text-decoration-none" asp-area="" asp-controller="Evenement" asp-action="detail" asp-route-id="@Model.EvenementId">
            <div class="position-relative text-center">
                <img class="img-fluid w-100 image-evenement" src=@Model.Image alt="PhotoLivre">
            </div>

            <div class="card-body">
                <h5 class="fw-bold card-title">@Model.Nom</h5>
                    <p class="card-text d-inline-block text-truncate col-8 mb-0">@Model.Description</p>
                    <div>
                        <p class="d-inline-block mb-0">
                            <img class="evenement-horloge-debut" src="~/img/horloge.svg">
                            Début le: @Model.Debut.Day @Model.Debut.ToString("MMMM") @Model.Debut.Year
                        </p>

                        <p class="mb-0">
                            <img class="evenement-horloge-fin" src="~/img/horloge.svg">
                            Termine le: @Model.Fin.Day @Model.Debut.ToString("MMMM") @Model.Fin.Year
                        </p>
                    </div>

            </div>
            
        </a>
    </div>
  
</div>
</div>
<link rel="stylesheet" href="~/css/carte-evenement-Partial.css" asp-append-version="true" />