@model TuileLivreBibliotequeVM

@{
    int livreIdCourant = @Model.livreBibliotheque.LivreId;
    int nbrEtoile = 0;
    int nbrEvaluation = 0;
    if (Model.livreEvaluation != null)
    {
        foreach (EvaluationLivre evaluation in Model.livreEvaluation)
        {
            nbrEtoile = nbrEtoile + evaluation.Evaluation.Etoiles;
            nbrEvaluation++;
        }
        if (nbrEvaluation != 0)
        {
            nbrEtoile = nbrEtoile / nbrEvaluation;
        }
    }
}


<div class="card border-2" style="width:auto">


    <div>
        <a class="float-start" asp-area="" asp-controller="inventaire" asp-action="modifier" asp-route-id="@livreIdCourant">
            <input class="btn btn-primary shadow" type="button" value="Modifier" />
        </a>

        <form method="post" class="float-end" asp-action="supprimer" asp-controller="Inventaire" asp-route-id="@livreIdCourant">
            <a>
                <input class="btn btn-danger shadow" onclick="return confirm('Êtes-vous sûr de vouloir supprimer @Model.livreBibliotheque.Titre')" type="submit" value="Supprimer" />
            </a>
        </form>
    </div>

    <div class="position-relative text-center">
        <img class="mx-auto image-livre" src=~/img/@Model.livreBibliotheque.PhotoCouverture alt="PhotoLivre">
        <div class="prix rounded-circle shadow">
            <p id="PrixLivreId-@livreIdCourant" class="pt-3">@Model.prixEtatLivre.Prix$</p>
        </div>
    </div>

    <div class="o-switch btn-group w-100" data-toggle="buttons" role="group">
        <label class="btn bg-back text-white" id="Neuf-@livreIdCourant" onclick="checkTheBox(@livreIdCourant,'Neuf')">
            <input hidden type="radio" name="options+@livreIdCourant" value="@NomEtatLivre.Neuf" onclick="ChangerPrix(this.value, @livreIdCourant);" checked> Neuf
            </label>
        <label class="btn bg-top text-white" id="Numerique-@livreIdCourant" onclick="checkTheBox(@livreIdCourant,'Numerique')">
            <input hidden type="radio" name="options+@livreIdCourant" value="@NomEtatLivre.Numerique" onclick="ChangerPrix(this.value, @livreIdCourant)"> Numérique
            </label>
        <label class="btn bg-top text-white" id="Usager-@livreIdCourant" onclick="checkTheBox(@livreIdCourant,'Usager')">
            <input hidden type="radio" name="options+@livreIdCourant" value="@NomEtatLivre.Usagee" onclick="ChangerPrix(this.value, @livreIdCourant)"> Usagé
            </label>
    </div>


    <div class="card border-0" style="width:auto">
        <h5 class="card-title ">Titre: @Model.livreBibliotheque.Titre</h5>
        <p class="card-text">ISBN: @Model.livreBibliotheque.Isbn</p>
        @if(Model.coursLivre != null){

        <p class="card-text">Programme d'étude: @Model.coursLivre.Cours.ProgrammeEtude.Nom</p>
        <p class="card-text">Année de parcours: @Model.coursLivre.Cours.AnneeParcours</p>
        }else{
            <p class="card-text">Programme d'étude: N/A</p>
            <p class="card-text">Année de parcours: N/A</p>
        }
        <p class="card-text">Année de publication: @Model.livreBibliotheque.DatePublication.Year</p>
      
    </div>

    @if (Model.complementaire)
    {
        <footer>
            <div class="card-body">

                <div id="rating" class="star-rating" role="img" data-rating="3">



                    @for (int etoile_vide = 0; etoile_vide < 5; etoile_vide++)
                    {
                        @while (nbrEtoile > 0)
                        {
                            if (nbrEtoile >= 2)
                            {
                                nbrEtoile = nbrEtoile - 2;
                                etoile_vide++;
                                <span class="star" data-value="">
                                    <img style="width: 0.7rem; margin-top: -3px;" src="~/img/etoile-pleine.svg">
                                    <span class="star-notification"></span>
                                </span>
                            }

                            if (nbrEtoile == 1)
                            {
                                nbrEtoile = nbrEtoile - 1;
                                etoile_vide++;
                                <span class="star" data-value="">
                                    <img style="width: 0.7rem; margin-top: -3px;" src="~/img/demi-etoile.svg">
                                    <span class="star-notification"></span>
                                </span>

                            }
                        }

                        if (etoile_vide != 5)
                        {
                            <span class="star" data-value="">
                                <img style="width: 0.7rem; margin-top: -3px;" src="~/img/etoile-vide.svg">
                                <span class="star-notification"></span>
                            </span>
                        }
                    }
                </div>
            </div>
        </footer>
    }
</div>

<link rel="stylesheet" href="~/css/carte-livre-Partiel.css" asp-append-version="true" />
 <script src="~/js/PrixAjax.js"></script>