@model Evenement

@{

}

 
<div class="card" style="width: auto;">
    <img src="~/img/horloge.svg" class="card-img-top" style="height:10rem" alt=" PhotoEvenement">
  <div class="card-body">
    <h5 class="card-title">@Model.Nom</h5>
    <p class="card-text">@Model.Description</p>
  
  </div>
    <footer>
        <img style="width: 1rem; margin-top: -3px;" src="/img/horloge.svg">
        <p class="d-inline-block">@Model.Debut.Day @Model.Debut.ToString("MMMM") @Model.Debut.Year</p>
    </footer>
</div>