@model List<FactureEtudiant>

<h2 class="p-3">Gestion des commandes</h2>

<img src="~/img/plus-circle.svg" class="position-fixed bottom-0 end-0 me-5 mb-4 btn-img-hover devant" data-bs-toggle="modal" data-bs-target="#creer" onclick="getFormulaireCreerCommande()" />

<div>
    <table class="table table-light">
        <thead>
            <tr>
                <th id="@nameof(GestionCommandeVM.FactureEtudiantId)">@Html.DisplayNameFor(commande => commande.First().FactureEtudiantId)</th>
                <th id="@nameof(GestionCommandeVM.PaymentIntentId)">@Html.DisplayNameFor(commande => commande.First().PaymentIntentId)</th>
                <th id="@nameof(GestionCommandeVM.EtudiantId)">@Html.DisplayNameFor(commande => commande.First().EtudiantId)</th>
                <th id="@nameof(GestionCommandeVM.AdresseLivraison)">@Html.DisplayNameFor(commande => commande.First().AdresseLivraison)</th>
                <th id="@nameof(GestionCommandeVM.DateFacturation)">@Html.DisplayNameFor(commande => commande.First().DateFacturation)</th>
                <th id="@nameof(GestionCommandeVM.Statut)">@Html.DisplayNameFor(commande => commande.First().Statut)</th> 
                <th id="@nameof(GestionCommandeVM.Total)">Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (FactureEtudiant commande in Model) {
                <tr id="tr-@commande.FactureEtudiantId" class="modif-suppr">
                    <td>@commande.FactureEtudiantId</td>
                    <td>@commande.PaymentIntentId</td>
                    <td>@commande.EtudiantId</td>
                    <td>@commande.AdresseLivraison</td>
                    <td>@commande.DateFacturation</td>
                    <td>@commande.Statut</td>
                    <td>TODO</td>
                    <td class="options-ligne position-absolute text-center vw-100 start-0 bg-transparent border-0">
                        <img src="~/img/book-view.svg" class="btn-img-hover" data-bs-toggle="modal" data-bs-target="#modal-livres" onclick="getFormulaireListeLivres('@commande.FactureEtudiantId')">
                        <img src="~/img/pencil.svg" class="btn-img-hover" data-bs-toggle="modal" data-bs-target="#modal-modifier" onclick="getFormulaireModifierCommande('@commande.FactureEtudiantId')">
                        <img src="~/img/delete.svg" class="btn-img-hover" onclick="supprimerCommande('@commande.FactureEtudiantId')">
                    </td>
                </tr>
            }
            <div class="modal fade" id="modal-modifier" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Modifier le cours</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button id="fermer-modal-modifier" data-bs-dismiss="modal" hidden></button>
                            <button type="button" class="btn btn-primary" onclick="ModifierCommandes()">Enregistrer</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="creer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Nouvelle commande</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button id="fermer-modal-creer" data-bs-dismiss="modal" hidden></button>
                            <button type="button" class="btn btn-primary" onclick="creerCommande()">Enregistrer</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal-livres" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Liste des livres associés</h1>
                            <img class="ps-2 btn-img-hover" src="~/img/plus-circle.svg" onclick="getListeLivre()" />
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button id="fermer-modal-livres" data-bs-dismiss="modal" hidden></button>
                            <button type="button" class="btn btn-primary" onclick="modifierLivreLier()">Enregistrer</button>
                        </div>
                    </div>
                </div>
            </div>

        </tbody>
    </table>
</div>