@model List<CommandeEtudiant>

<div class="d-flex accordion-header">
    <a asp-area="" asp-controller="TableauDeBord" asp-action="Index">
        <img class="fleche-retour" src="~/img/fleche-de-retour.svg" />
    </a>
    <h2 class="p-3">Gestion des commandes</h2>
</div>

<table class="table table-light table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(commande => commande.First().PrixEtatLivre.EtatLivre.Nom)</th>
            <th>@Html.DisplayNameFor(commande => commande.First().Quantite)</th>
            <th>@Html.DisplayNameFor(commande => commande.First().PrixEtatLivre.QuantiteUsage)</th>
            <th>@Html.DisplayNameFor(commande => commande.First().PrixEtatLivre.LivreBibliotheque.Titre)</th>
            <th>@Html.DisplayNameFor(commande => commande.First().FactureEtudiant.Etudiant.Email)</th>
            <th>@Html.DisplayNameFor(commande => commande.First().FactureEtudiant.AdresseLivraison)</th>
            <th>@Html.DisplayNameFor(commande => commande.First().FactureEtudiant.DateFacturation)</th>
            <th>@Html.DisplayNameFor(commande => commande.First().PrixEtatLivre.Prix)</th>
            <th>Action(s)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (CommandeEtudiant commande in Model) {
            <tr>
                <td>@commande.PrixEtatLivre.EtatLivre.Nom</td>
                <td>@commande.Quantite</td>
                <td>@commande.PrixEtatLivre.QuantiteUsage</td>
                <td>@commande.PrixEtatLivre.LivreBibliotheque.Titre</td>
                <td>@commande.FactureEtudiant.Etudiant.Email</td>
                <td>@commande.FactureEtudiant.AdresseLivraison</td>
                <td>@commande.FactureEtudiant.DateFacturation</td>
                <td>@commande.PrixEtatLivre.Prix</td>
                <td>
                    <img src="~/img/pencil.svg" width="25px" data-bs-toggle="modal" data-bs-target="#commande-@commande.FactureEtudiantId-@commande.PrixEtatLivreId">
                    <img src="~/img/delete.svg" width="25px">
                </td>
                <div class="modal fade" id="commande-@commande.FactureEtudiantId-@commande.PrixEtatLivreId" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Modifier la commande</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                contenu
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                <button type="button" class="btn btn-primary">Enregistrer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
        }
    </tbody>
</table>
