@model List<Cours>

<h2 class="p-3">Gestion des cours</h2>


<img src="~/img/plus-circle.svg" class="position-fixed bottom-0 end-0 me-5 mb-4 btn-img-hover devant" data-bs-toggle="modal" data-bs-target="#creer" onclick="getFormulaireCreerCours()" />

<div>
    <table class="table table-light">
        <thead>
            <tr>
                <th id="@nameof(GestionCoursVM.Code)">@Html.DisplayNameFor(cours => cours.First().Code)</th>
                <th id="@nameof(GestionCoursVM.Nom)">@Html.DisplayNameFor(cours => cours.First().Nom)</th>
                <th id="@nameof(GestionCoursVM.AnneeParcours)">@Html.DisplayNameFor(cours => cours.First().AnneeParcours)</th>
                <th id="@nameof(GestionCoursVM.ProgrammeEtude)">@Html.DisplayNameFor(cours => cours.First().ProgrammeEtude)</th>
                <th id="@nameof(GestionCoursVM.Description)">@Html.DisplayNameFor(cours => cours.First().Description)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Cours cours in Model) {
                <tr id="tr-@cours.CoursId" class="modif-suppr">
                
                    <td>@cours.Code</td>
                    <td>@cours.Nom</td>
                    <td>@cours.AnneeParcours</td>
                    <td>@cours.ProgrammeEtude.Nom</td>
                    <td>@cours.Description</td>
                    <td class="options-ligne position-absolute text-center vw-100 start-0 bg-transparent border-0">
                        <img src="~/img/pencil.svg" class="btn-img-hover" data-bs-toggle="modal" data-bs-target="#modal-modifier" onclick="getFormulaireModifierCours('@cours.CoursId')">
                        <img src="~/img/delete.svg" class="btn-img-hover" onclick="supprimerCours('@cours.CoursId')">
                    </td>
               

                </tr>
                <div class="modal fade" id="modal-modifier" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Modifier le cours</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                            </div>
                            <div class="modal-footer">
                                <button id="fermer-modal-modifier" data-bs-dismiss="modal" hidden></button>
                                <button type="button" class="btn btn-primary" onclick="modifierCours('getCoursId()')">Enregistrer</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="modal fade" id="creer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Nouveau cours</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button id="fermer-modal-creer" data-bs-dismiss="modal" hidden></button>
                            <button type="button" class="btn btn-primary" onclick="creerCours()">Enregistrer</button>
                        </div>
                    </div>
                </div>
            </div>
        </tbody>
    </table>
</div>