@model List<EtudiantDto>


<div class="row">
    <h2 class="p-3 ps-0 col-10">Gestion des étudiants</h2>
    <div class="col-2 d-flex justify-content-end">
        <img src="~/img/plus-circle.svg" class="btn-img-hover devant" data-bs-toggle="modal" data-bs-target="#creer" onclick="getFormulaireCreerEtudiant()" />
    </div>
</div>

<div>
    <table class="table table-light">
        <thead>
            <tr>
                <th id="@nameof(GestionProfilVM.Nom)">Nom</th>
                <th id="@nameof(GestionProfilVM.Prenom)">Prénom</th>
                <th id="@nameof(GestionProfilVM.Courriel)">Courriel</th>
                <th id="@nameof(GestionProfilVM.NomProgrammeEtude)">Programme d'étude</th>
                <th id="@nameof(GestionProfilVM.NoTelephone)">Téléphone</th>
                <th id="@nameof(GestionProfilVM.NoCivique)">Numéro civique</th>
                <th id="@nameof(GestionProfilVM.Rue)">Rue</th>
                <th id="@nameof(GestionProfilVM.Ville)">Ville</th>
                <th id="@nameof(GestionProfilVM.NomProvince)">Province</th>
                <th id="@nameof(GestionProfilVM.CodePostal)">Code postal</th>
            </tr>
        </thead>
        <tbody>
            @foreach(EtudiantDto etudiant in Model) {
                <tr id="tr-@etudiant.Id" class="modif-suppr">
                    <td>@etudiant.Nom</td>
                    <td>@etudiant.Prenom</td>
                    <td>@etudiant.Courriel</td>
                    <td>@etudiant.ProgrammeEtude</td>
                    <td>@etudiant.Telephone</td>
                    <td>@etudiant.NumeroCivique</td>
                    <td>@etudiant.Rue</td>
                    <td>@etudiant.Ville</td>
                    <td>@etudiant.Province</td>
                    <td>@etudiant.CodePostal</td>
                    <td class="options-ligne position-absolute text-center vw-100 start-0 bg-transparent border-0">
                        <img src="~/img/pencil.svg" class="btn-img-hover" data-bs-toggle="modal" data-bs-target="#modal-modifier" onclick="getFormulaireModifierEtudiant('@etudiant.Id')">
                        <img src="~/img/delete.svg" class="btn-img-hover" onclick="supprimerEtudiant('@etudiant.Id')">
                    </td>
                </tr>
            }
            <div class="modal fade" id="modal-modifier" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Modifier l'étudiant</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button id="fermer-modal" data-bs-dismiss="modal" hidden></button>
                            <button type="button" class="btn btn-primary" onclick="modifierEtudiant()">Enregistrer</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="creer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Nouvel étudiant</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                        </div>
                        <div class="modal-footer">
                            <button id="fermer-modal-creer" data-bs-dismiss="modal" hidden></button>
                            <button type="button" class="btn btn-primary" onclick="creerEtudiant()">Enregistrer</button>
                        </div>
                    </div>
                </div>
            </div>
        </tbody>
    </table>
</div>