@model List<LivreBibliotheque>

<div class="d-flex accordion-header">
    <a asp-area="" asp-controller="TableauDeBord" asp-action="Index">
        <img class="fleche-retour" src="~/img/fleche-de-retour.svg" />
    </a>
    <h2 class="p-3">Gestion des livres de bibliothèque</h2>
</div>

<table class="table table-light table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(livre => livre.First().PhotoCouverture)</th>
            <th>@Html.DisplayNameFor(livre => livre.First().Isbn)</th>
            <th>@Html.DisplayNameFor(livre => livre.First().Titre)</th>
            <th>@Html.DisplayNameFor(livre => livre.First().Resume)</th>
            <th>@Html.DisplayNameFor(livre => livre.First().DatePublication)</th>
            <th>@Html.DisplayNameFor(livre => livre.First().MaisonEdition.Nom)</th>
            <th>Action(s)</th>
        </tr>
    </thead>
    <tbody>
        @foreach(LivreBibliotheque livre in Model) {
            <tr>
                <td>@livre.PhotoCouverture</td>
                <td>@livre.Isbn</td>
                <td>@livre.Titre</td>
                <td>@livre.Resume</td>
                <td>@livre.DatePublication</td>
                <td>@livre.MaisonEdition.Nom</td>
                <td>

                </td>
            </tr>
        }
    </tbody>
</table>