@model List<ProgrammeEtude>


<h2 class="p-3">Gestion des programmes d'études</h2>
<img src="~/img/plus-circle.svg" class="position-fixed bottom-0 end-0 me-5 mb-5 btn-img-hover devant" data-bs-toggle="modal" data-bs-target="#creer" onclick="getFormulaireCreerProgrammeEtudes()" />

<div>
    <table class="table table-light ms-5">
        <thead>
            <tr>
                <th id="@nameof(AjoutEditProgrammeEtudesVM.Code)">@Html.DisplayNameFor(programme => programme.First().Code)</th>
                <th id="@nameof(AjoutEditProgrammeEtudesVM.Nom)">@Html.DisplayNameFor(programme => programme.First().Nom)</th>

            </tr>
        </thead>
        <tbody>
            @foreach (ProgrammeEtude programmeEtudes in Model) {
                <tr id="tr-@programmeEtudes.ProgrammeEtudeId" class="modif-suppr">
                    <td>@programmeEtudes.Code</td>
                    <td>@programmeEtudes.Nom</td>
                    <td class="options-ligne position-absolute text-center vw-100 start-0 bg-transparent border-0">
                        <img src="~/img/pencil.svg" class="btn-img-hover" data-bs-toggle="modal" data-bs-target="#modal-modifier" onclick="getFormulaireModifierProgrammeEtudes('@programmeEtudes.ProgrammeEtudeId')">
                        <img src="~/img/delete.svg" class="btn-img-hover" onclick="supprimerProgrammeEtudes('@programmeEtudes.ProgrammeEtudeId')">
                    </td>
                </tr>
                
            }
            <div class="modal fade" id="modal-modifier" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Modifier le programme d'étude</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button id="fermer-modal-modifier" data-bs-dismiss="modal" hidden></button>
                            <button type="button" class="btn btn-primary" onclick="modifierProgrammeEtudes()">Enregistrer</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="creer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Nouveau programme d'études</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button id="fermer-modal-creer" data-bs-dismiss="modal" hidden></button>
                            <button type="button" class="btn btn-primary" onclick="creerProgrammeEtudes()">Enregistrer</button>
                        </div>
                    </div>
                </div>
            </div>
        </tbody>
    </table>
</div>