@model List<Evenement>

<div class="d-flex accordion-header">
    <a asp-area="" asp-controller="TableauDeBord" asp-action="Index">
        <img class="fleche-retour" src="~/img/fleche-de-retour.svg" />
    </a>
    <h2 class="p-3">Gestion des événements</h2>
</div>

<table class="table table-light table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(evenement => evenement.First().Image)</th>
            <th>@Html.DisplayNameFor(evenement => evenement.First().Nom)</th>
            <th>@Html.DisplayNameFor(evenement => evenement.First().Description)</th>
            <th>@Html.DisplayNameFor(evenement => evenement.First().Debut)</th>
            <th>@Html.DisplayNameFor(evenement => evenement.First().Fin)</th>
            <th>@Html.DisplayNameFor(evenement => evenement.First().Commanditaire.Nom)</th>
            <th>@Html.DisplayNameFor(evenement => evenement.First().Commanditaire.Courriel)</th>
            <th>@Html.DisplayNameFor(evenement => evenement.First().Commanditaire.Message)</th>
            <th>Action(s)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Evenement evenement in Model) {
            <tr>
                <td class="text-center">
                    <img src="@evenement.Image" width="50px">
                </td>
                <td>@evenement.Nom</td>
                <td>@evenement.Description</td>
                <td>@evenement.Debut</td>
                <td>@evenement.Fin</td>
                <td>@evenement.Commanditaire.Nom</td>
                <td>@evenement.Commanditaire.Courriel</td>
                <td>@evenement.Commanditaire.Message</td>
                <td>
                    <img src="~/img/pencil.svg" width="25px">
                    <img src="~/img/delete.svg" width="25px">
                </td>
            </tr>
        }
    </tbody>
</table>