@using System.Text.Json
@model AjoutEditLivreVM

@{
    var EstNouveau = Model.Id == 0;
}


<body>
    <div class="row">
        <div class="col-8 d-block m-auto">
            <img class="d-block m-auto" width="100" src="@(EstNouveau ? "/img/book-plus.svg" : "/img/book-edit.svg")" />
            <form method="post" class="text-center m-3" id="formLivre" asp-action="AjoutEditLivre" asp-controller="Inventaire" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                <input asp-for="Id" class="form-control" value="@Model.Id" type="hidden" />
                <div class="row text-start">
                    <div class="col-md-6">
                        <fieldset class="rounded shadow p-3 m-2">
                            <div class="form-group">
                                <label asp-for="Titre" class="form-label"></label>
                                <input asp-for="Titre" id="Titre" class="form-control" aria-required="true" />
                                <span asp-validation-for="Titre" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ISBN" class="form-label"></label>
                                <input asp-for="ISBN" id="ISBN" class="form-control" aria-required="true" />
                                <span asp-validation-for="ISBN" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Resume" class="form-label"></label>
                                <input asp-for="Resume" id="Resume" class="form-control" aria-required="true" />
                                <span asp-validation-for="Resume" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Photo" class="form-label"></label>
                                <input type="file" accept=".png,.jpg,.jpeg" class="form-control" aria-required="true" onchange="getAndShowBase64(this.files[0], 'sendImg', 'viewImg')" />
                                <input asp-for="Photo" class="form-control" aria-required="true" hidden id="sendImg" />
                                <img id="viewImg" @(!string.IsNullOrEmpty(Model.Photo) ? $"src={Model.Photo}" : "") class="col-md-6 m-1" />
                                <span asp-validation-for="Photo" class="row text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DatePublication" class="form-label"></label>
                                <input asp-for="DatePublication" id="DatePublication" class="form-control" aria-required="true" />
                                <span asp-validation-for="DatePublication" class="text-danger"></span>
                            </div>
                        </fieldset>

                        <fieldset class="rounded shadow p-3 m-2">
                            <div class="form-group">
                                <div class="col-auto">
                                    <label class="sr-only" for="inlineFormInputGroup">Prix</label>
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">Numérique</div>
                                        </div>
                                        <input asp-for="Prix.PrixNumerique" class="form-control" aria-required="true" type="text" placeholder="prix" id="inputPrixNumerique" />
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">$</div>
                                        </div>
                                    </div>
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">Neuf</div>
                                        </div>
                                        <input asp-for="Prix.PrixNeuf" class="form-control" aria-required="true" type="text" placeholder="prix" id="inputPrixNeuf" />
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">$</div>
                                        </div>
                                    </div>
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">Usagé</div>
                                        </div>
                                        <input asp-for="Prix.PrixUsager" class="form-control" aria-required="true" type="text" placeholder="prix" id="inputPrixUsage" />
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">$</div>
                                        </div>
                                        <input asp-for="Prix.QuantiteUsage" class="form-control" type="number" placeholder="Quantité" id="quantitePrixUsager" />
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="col-md-6">
                        <fieldset class="rounded shadow p-3 m-2">
                            <div class="row">
                                <div class="col-10 mt-2">
                                    <label asp-for="CheckBoxCours" class="form-label"></label>
                                </div>
                                <div class="col-2 ps-0">
                                    <img src="~/img/plus-circle.svg" class="btn-img-hover" data-bs-toggle="modal" data-bs-target="#creer-cours" onclick="getFormulaireCreerCours()" />
                                </div>
                            </div>
                            <div class="form-group" id="listDeCours">
                                <div class="cours">
                                    @foreach (var Cours in Model.CheckBoxCours)
                                    {
                                        <div class="row ms-2 mt-2">
                                            <input class="col-2 mt-1 checkBoxCours" id="@Cours.Cours.CoursId" type="checkbox" name="Cours" value="@(JsonSerializer.Serialize(Cours.Cours))" checked="@Cours.Cocher" />
                                            <label class="col-8 text-break" for="@Cours.Cours.Nom">@Cours.Cours.Nom</label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </fieldset>

                        <fieldset class="rounded shadow p-3 m-2">
                            <div class="row">
                                <div class="col-10 mt-2">
                                    <label asp-for="CheckBoxAuteurs" class="form-label"></label>
                                </div>
                                <div class="col-2 ps-0">
                                    <img src="~/img/plus-circle.svg" class="btn-img-hover" data-bs-toggle="modal" data-bs-target="#creer-auteurs" onclick="getFormulaireCreerAuteurs()" />
                                </div>
                            </div>
                            <div class="form-group" id="listAuteurs">
                                <div class="cours">
                                    @foreach (var auteurs in Model.CheckBoxAuteurs)
                                    {
                                        <div class="row ms-2 mt-2">
                                            <input class="col-2 mt-1 checkBoxCours" id="@auteurs.Auteur.Id" type="checkbox" name="Auteurs" value="@(JsonSerializer.Serialize(auteurs.Auteur, new JsonSerializerOptions()))" checked="@auteurs.Cocher" />
                                            <label class="col-8 text-break" for="@auteurs.Auteur.Nom">@auteurs.Auteur.NomComplet</label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </fieldset>
                       
                        <fieldset class="rounded shadow p-3 m-2">
                            <div class="form-group">
                                <label asp-for="MaisonEditionId" class="form-label"></label>
                                <select asp-for="MaisonEditionId" id="MaisonDeditionId" asp-items="Model.MaisonsDeditions" class="form-control" aria-required="true"></select>
                                <span asp-validation-for="MaisonEditionId" class="text-danger"></span>
                            </div>
                        </fieldset>
                    </div>


                    <div>
                        <input class="btn btn-primary w-100" type="button" onclick="ajoutEditLivre()" value="@(EstNouveau ? "Creer" : "Modifier")" />
                    </div>

                    @Html.AntiForgeryToken()
                </div>
            </form>
        </div>
        <div class="modal" id="creer-cours" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Ajouter un cours</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        contenu
                    </div>
                    <div class="modal-footer">
                        <button id="fermer-modal-creer" data-bs-dismiss="modal" hidden></button>
                        <button id="btnEnregistrer" onclick="creerCoursLivre()" type="button" class="btn btn-primary">Enregistrer</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="creer-auteurs" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Ajouter un auteur</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        contenu
                    </div>
                    <div class="modal-footer">
                        <button id="fermer-modal-creer" data-bs-dismiss="modal" hidden></button>
                        <button id="btnEnregistrer" onclick="creerAuteursLivre()" type="button" class="btn btn-primary">Enregistrer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>