@model AssocierLivreCours

<div class="row" id="ViewCreerLivre">
    <div class="col-md-8 d-block m-auto">
        <form method="post" class="text-center m-3" id="formLivre" asp-action="Creer" asp-controller="Inventaire" enctype="multipart/form-data">

            <img class="d-block m-auto mb-3" width="200px" src="~/img/book-plus.svg" />
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <div class="row text-start">
                <div class="col-md-6">
                    <fieldset class="rounded shadow p-3 m-2 mb-4">
                        <div class="form-group">
                            <label asp-for="Titre" class="form-label"></label>
                            <input asp-for="Titre" id="Titre" class="form-control" aria-required="true" />
                            <span asp-validation-for="Titre" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ISBN" class="form-label"></label>
                            <input asp-for="ISBN" id="ISBN" class="form-control" aria-required="true" />
                            <span asp-validation-for="ISBN" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Resume" class="form-label"></label>
                            <input asp-for="Resume" id="Resume" class="form-control" aria-required="true" />
                            <span asp-validation-for="Resume" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Photo" class="form-label"></label>
                            <input type="file" accept=".png,.jpg,.jpeg" class="form-control" aria-required="true" onchange="getAndShowBase64(this.files[0], 'sendImg', 'viewImg')" />
                            <input asp-for="Photo" class="form-control" aria-required="true" hidden id="sendImg" />
                            @if(Model.Photo != null) {
                                <img id="viewImg" src="@Model.Photo" class="col-md-6 m-1" />
                            } else {
                                <img id="viewImg" class="col-md-6 m-1" />
                            }
                            <span asp-validation-for="Photo" class="row text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DatePublication" class="form-label"></label>
                            <input asp-for="DatePublication" id="DatePublication" class="form-control" aria-required="true" />
                            <span asp-validation-for="DatePublication" class="text-danger"></span>
                        </div>
                    </fieldset>

                    <fieldset class="rounded shadow p-3 m-2 mb-4">
                        <div class="form-group">
                            <div class="col-auto">
                                <label class="sr-only" for="inlineFormInputGroup">Prix du livre par état</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">Numérique</div>
                                    </div>
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">$</div>
                                    </div>
                                    <input asp-for="PrixNumerique" id="PrixNumerique" class="form-control" aria-required="true" type="text" placeholder="prix" id="inputPrixNumerique" />
                                    <label class="ps-1">
                                        Disponible
                                    <input asp-for="PossedeNumerique" id="PossedeNumerique" aria-required="true" type="checkbox" onclick="prixToggleNumerique()" checked />
                                    </label>
                                </div>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">Neuf</div>
                                    </div>
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">$</div>
                                    </div>
                                    <input asp-for="PrixNeuf" id="PrixNeuf" class="form-control" aria-required="true" type="text" placeholder="prix" id="inputPrixNeuf" />
                                    <label class="ps-1">
                                        Disponible
                                    <input asp-for="PossedeNeuf" id="PossedeNeuf" aria-required="true" type="checkbox" onclick="prixToggleNeuf()" checked/>
                                    </label>
                                </div>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">Usagé</div>
                                    </div>
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">$</div>
                                    </div>
                                    
                                    <input asp-for="PrixUsage" id="PrixUsage" class="form-control" aria-required="true" type="text" placeholder="prix" id="inputPrixUsage" />
                                    <input asp-for="QuantiteUsagee" id="QuantiteUsagee" class="form-control" type="number" placeholder="Quantité"/>
                                    
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="col-md-6">
                    <fieldset class="rounded shadow p-3 m-2 mb-4">
                        <div class="form-group" id="listDeCours">

                            <label asp-for="checkBoxCours" class="form-label"></label>


                            <div class="cours">
                                @foreach (var Cours in Model.checkBoxCours)
                                {
                                    <div class="row ms-2 mt-2">
                                        <input class="col-2 mt-1 checkBoxCours" id="@Cours.Cours.CoursId" type="checkbox" name="Cours" value="@Cours.Cours.CoursId" checked="@Cours.Cocher" />
                                        <label class="col-8 text-break" for="@Cours.Cours.Nom">@Cours.Cours.Nom</label>
                                    </div>
                                }
                            </div>
                           

                        </div>
                    </fieldset>


                    <fieldset class="rounded shadow p-3 m-2 mb-4">
                        <div class="form-group">
                            <label asp-for="AuteurId" class="form-label"></label>
                            <select asp-for="AuteurId" id="AuteurId" asp-items="Model.Auteurs" class="form-control" aria-required="true"></select>
                            <span asp-validation-for="AuteurId" class="text-danger"></span>
                        </div>
                    </fieldset>
                    <fieldset class="rounded shadow p-3 m-2 mb-4">
                        <div class="form-group">
                            <label asp-for="MaisonDeditionId" class="form-label"></label>
                            <select asp-for="MaisonDeditionId" id="MaisonDeditionId" asp-items="Model.MaisonsDeditions" class="form-control" aria-required="true"></select>
                            <span asp-validation-for="MaisonDeditionId" class="text-danger"></span>
                        </div>
                    </fieldset>
                </div>

                <div class="m-3 mt-4">
                    <input class="mt-2 btn btn-primary w-100" type="button" onclick="assignerCoursLivre()" value="Créer" />
                </div>

                @Html.AntiForgeryToken()
            </div>
        </form>
    </div>
</div>