@model LivreDetailVM

@{
    int livreIdCourant = @Model.livreBibliotheque.LivreId;
}

    <p id="pErreur"></p>
    <p hidden id="idLivre">@livreIdCourant</p>
    <div class="row mb-3">
        <div class="col-4">
            <img class="img-fluid image-detail" src="@Model.livreBibliotheque.PhotoCouverture" />
        </div>

        <div class="card-body col-6 mt-auto mb-auto">
            <h5 class="card-title"><strong>Titre:</strong> @Model.livreBibliotheque.Titre</h5>
            <p class="card-text"><strong>ISBN:</strong> @Model.livreBibliotheque.Isbn</p>
            @if (Model.programmeEtudeNom != null)
            {
                <p class="card-text"><strong>Programme d'étude:</strong> @Model.programmeEtudeNom</p>
            }
            else
            {
                <p class="card-text"><strong>Programme d'étude:</strong> N/A</p>
            }
            <p class="card-text"><strong>Date de publication:</strong> @Model.livreBibliotheque.DatePublication</p>
            <p class="card-text"><strong>Description:</strong> @Model.livreBibliotheque.Resume</p>
        </div>
    </div>


 @*   <div class="row col-12 justify-content-center" data-toggle="buttons" role="group">
        @foreach (var etat in Model.prixEtatLivre.Select(p => p.EtatLivre))
        {
            <label class="btn btn-rounded bg-top text-white col" id="@etat-@livreIdCourant" onclick="checkTheBox(@livreIdCourant,@etat)">
                <input hidden type="radio" name="options+@livreIdCourant" value="@EtatLivreEnum.NEUF" onclick="ChangerPrix(@((int)etat), @livreIdCourant);"> @etat
            </label>
        }
    </div>

    <div class="row col-12 justify-content-center">
        @foreach (var prix in Model.prixEtatLivre.Select(p => p.Prix))
        {
            <div class="text-center col mt-1 me-5 rounded-4">
                <p id="PrixLivreId-@livreIdCourant" class="pt-3">@prix.ToString(".00")$</p>
            </div>
        }
    </div>*@

    <div class="d-flex flex-row-reverse">
    <div class="form-group col-2">
    <label asp-for="quantite" class="form-label"></label>
    <input asp-for="quantite" class="form-control" aria-required="true" />
    <span asp-validation-for="quantite" class="text-danger"></span>
    </div>
    </div>

    <div class="d-flex flex-row-reverse">
        <div class="form-group col-2" id="ajouter">
            <input class="btn btn-primary mt-4 shadow" type="button" value="Ajouter au panier" onclick="ajouterLivreLocalStorage(@Model.livreBibliotheque.LivreId)" />
        </div>
        <div class="form-group col-2" id="supprimer" hidden>
            <input class="btn btn-danger mt-4 shadow" type="button" value="Supprimer du panier" onclick="supprimerLivreLocalStorage(@Model.livreBibliotheque.LivreId)" />
        </div>
    </div>

<link rel="stylesheet" href="~/css/carte-livre-Partiel.css" asp-append-version="true" />
<script src="~/js/LivreDetail.js"></script>
