@model TuileLivreBibliotequeVM

@{
    int livreIdCourant = @Model.livreBibliotheque.LivreId;
    string pasDePrix = "Pas de prix disponible";
    PrixEtatLivre prixNeuf;
    PrixEtatLivre prixDigital;
    PrixEtatLivre prixUsager;
    if (Model.prixEtatLivre == null || Model.prixEtatLivre.Count() == 0)
    {
        prixNeuf = null;
        prixDigital = null;
        prixUsager = null;
    }
    else
    {
        prixNeuf = Model.prixEtatLivre.Find(x => x.EtatLivre.Nom == NomEtatLivre.NEUF);
        prixDigital = Model.prixEtatLivre.Find(x => x.EtatLivre.Nom == NomEtatLivre.DIGITAL);
        prixUsager = Model.prixEtatLivre.Find(x => x.EtatLivre.Nom == NomEtatLivre.USAGE);
    }
}


<div class="row">
    <div class="row d-flex float-start">
        <div class="col-4">
            <img class="img-fluid image-detail" src="@Model.livreBibliotheque.PhotoCouverture" />
        </div>

        <div class="card-body col-6 mt-auto mb-auto">
            <h5 class="card-title"><strong>Titre:</strong> @Model.livreBibliotheque.Titre</h5>
            <p class="card-text"><strong>ISBN:</strong> @Model.livreBibliotheque.Isbn</p>
            @if (Model.coursLivre != null)
            {
                <p class="card-text"><strong>Programme d'étude:</strong> @Model.coursLivre.Cours.ProgrammeEtude.Nom</p>
                <p class="card-text"><strong>Année de parcours:</strong> @Model.coursLivre.Cours.AnneeParcours</p>
            }
            else
            {
                <p class="card-text"><strong>Programme d'étude:</strong> N/A</p>
                <p class="card-text"><strong>Année de parcours:</strong> N/A</p>
            }
            <p class="card-text"><strong>Date de publication:</strong> @Model.livreBibliotheque.DatePublication.Day @Model.livreBibliotheque.DatePublication.ToString("MMMM") @Model.livreBibliotheque.DatePublication.Year</p>
        </div>
    </div>

    <p class="card-text"><strong>Description:</strong> @Model.livreBibliotheque.Resume</p>

    <div class="o-switch row col-12 justify-content-center" data-toggle="buttons" role="group">

        <label class="btn bg-back text-white p-4 col-3 me-5 rounded-4" id="Neuf-@livreIdCourant" onclick="BoxChecked(@livreIdCourant,'Neuf')">
            <input hidden type="radio" name="options+@livreIdCourant" value="@NomEtatLivre.NEUF" checked> Neuf
        </label>

        <label class="btn bg-top col-3 p-4 rounded-4 text-white" id="Numerique-@livreIdCourant" onclick="BoxChecked(@livreIdCourant,'Numerique')">
            <input hidden type="radio" name="options+@livreIdCourant" value="@NomEtatLivre.DIGITAL"> Numérique
        </label>
        <label class="btn bg-top col-3 p-4 ms-5 rounded-4 text-white" id="Usager-@livreIdCourant" onclick="BoxChecked(@livreIdCourant,'Usager')">
            <input hidden type="radio" name="options+@livreIdCourant" value="@NomEtatLivre.USAGE"> Usagé
        </label>
    </div>

    <div class="row col-12 justify-content-center">

        <div class="text-center col-3 mt-1 me-5 rounded-4">
            @if (prixNeuf == null)
            {
                <p id="PrixLivreId-@livreIdCourant" class="pt-3">@pasDePrix</p>
            }
            else
            {
                <p id="PrixLivreId-@livreIdCourant" class="pt-3">@prixNeuf.Prix$</p>
            }
        </div>
        <div class="text-center col-3 mt-1 rounded-4">
            @if (prixDigital == null)
            {
                <p id="PrixLivreId-@livreIdCourant" class="pt-3">@pasDePrix</p>
            }
            else
            {
                <p id="PrixLivreId-@livreIdCourant" class="pt-3">@prixDigital.Prix$</p>
            }
        </div>
        <div class="text-center col-3 mt-1 ms-5 rounded-4">
            @if (prixUsager == null)
            {
                <p id="PrixLivreId-@livreIdCourant" class="pt-3">@pasDePrix</p>
            }
            else
            {
                <p id="PrixLivreId-@livreIdCourant" class="pt-3">@prixUsager.Prix$</p>
            }
        </div>

    </div>

    <div class="d-flex flex-row-reverse">
        <div class="form-group col-2">
            <label asp-for="quantite" class="form-label"></label>
            <input asp-for="quantite" class="form-control" aria-required="true" />
            <span asp-validation-for="quantite" class="text-danger"></span>
        </div>
    </div>    
    
    <div class="d-flex flex-row-reverse">
        <div class="form-group col-2">
            <a class="float-start" asp-area="" asp-controller="Panier" asp-action="ajouter" asp-route-id="@Model.livreBibliotheque.LivreId">
                <input class="btn btn-primary mt-4 shadow" type="button" value="Ajouter au panier"/>
            </a>
        </div>
    </div>

</div>

<link rel="stylesheet" href="~/css/carte-livre-Partiel.css" asp-append-version="true" />
<script src="~/js/LivreDetail.js"></script>