@model EvenementDto

<div class="row">
    <div class="col-4">
        <img class="col-12 img-fluid flex-fill image-detail" src="@Model.Image" />
    </div>

    <div class="card-body col-6 m-auto">
        <h5 class="card-title"><strong>Titre:</strong> @Model.Nom</h5>
        <p class="card-text"><strong>Description:</strong> @Model.Description</p>
        <p class="card-text"><strong>Date de début:</strong> @Model.Debut.Day @Model.Debut.ToString("MMMM") @Model.Debut.Year</p>
        <p class="card-text"><strong>Date de fin:</strong> @Model.Fin.Day @Model.Debut.ToString("MMMM") @Model.Fin.Year</p>
        <p class="card-text"><strong>Commanditaire:</strong> @Model.CommanditaireNom</p>
        <p class="card-text"><strong>Courriel du commanditaire:</strong> @Model.CommanditaireCourriel</p>
        <p class="card-text"><strong>Message par le commanditaire:</strong> @Model.CommanditaireMessage</p>
    </div>
</div>

<link rel="stylesheet" href="~/css/carte-evenement-Partial.css" asp-append-version="true" />