@model EvenementDto


<div class="shadow rounded">
    <h1 class="card-title d-flex justify-content-center">@Model.Nom</h1>

    <div class="row">
        <div class="col-6">
            <img class="img-fluid flex-fill image-detail" src="@Model.Image" />
        </div>

        <div class="card-body col-6 m-auto">
            <div class="row pb-5 me-0">
                <h5>Détail</h5>
                <fieldset class="shadow rounded">
                    <p class="card-text"><strong>Début:</strong> @Model.Debut.Day @Model.Debut.ToString("MMMM") @Model.Debut.Year</p>
                    <p class="card-text"><strong>Fin:</strong> @Model.Fin.Day @Model.Debut.ToString("MMMM") @Model.Fin.Year</p>
                    <p class="card-text"><strong>Description:</strong> @Model.Description</p>
                </fieldset>
            </div>

            <div class="row me-0">
                <h5>Commanditaire</h5>
                <fieldset class="shadow rounded">
                    <p class="card-text">@Model.CommanditaireNom</p>
                    <p class="card-text"><strong>Courriel:</strong> @Model.CommanditaireCourriel</p>
                    <p class="card-text"><strong>Message:</strong> @Model.CommanditaireMessage</p>
                </fieldset>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/css/carte-evenement-Partial.css" asp-append-version="true" />